
$body-color: #2a2a2a;
$background-menu-color:#373D4B;
$text-color-in-dark-block: #fff;
$color-title-gray: #373d4b;
$color-title-orange: #dc6e15;

*{
	margin:0;
	padding:0;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}

html{
    /* 10px по умолчаню браузер 16px*/
    font-size: 62.5%; 
}

body{
    color:$body-color;
	font-family:'RobotoRegular';
	border:none;
}

ul,li{
	list-style:none;
}

a{
	text-decoration:none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

ul:after, .clear:after{
	content:'';
	display:block;
	clear:both;
}

header, section{
	padding: 5rem 0 3rem 0;
}

.br{
    display: none;
}

.br-min{
	display: none;
}

.feature-br{
    display: block;
}

.bold{
	font-family:'RobotoBold';
}

.h1{
    font-size: 4rem;
	line-height: 8rem;
}

.h2{
    font-size: 3.4rem;
	line-height: 6.8rem;
}

.h3{
    font-size: 2.7rem;
	line-height: 5.4rem;
}

.main-text{
	font-size: 2rem;
	line-height: 2.5rem;
}

.text{
	font-size: 2rem;
	line-height: 2.5rem;
}

.button:hover, .callback:hover{
	cursor:pointer;
}

.container{
	margin:0 auto;
	max-width: 1050px;
}
/* фон меню и футера */
#top, footer{
	background: url(../images/dark-bg.jpg) 50% 50% no-repeat;
	background-size:cover;
	overflow:hidden;
    color:$text-color-in-dark-block;
    a{
	    color:$text-color-in-dark-block;
    }
}
/* текст над меню */
.general{
	margin:1rem 0;
	display: flex;
	flex-direction: row;
	justify-content: end;
}

.shedule{
	padding-left:3rem;
    margin-right:2.5rem;
	background:url(../images/clock.svg) 0 50% no-repeat;
}

.numbers{
	padding-left:3rem;
    margin-right:2.5rem;
	background:url(../images/telefon.svg) 0 50% no-repeat;
}

/* классы создания параллелограммов */
.parallelogram-right {
  transform: skewX(-30deg);
  & > *{
	transform: skewX(30deg);
  }
}

.parallelogram-left {
  transform: skewX(30deg);
    & > *{
	transform: skewX(-30deg);
  }
}

/* фиксация навигации */
.fixed{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	z-index:10;
	background: url(../images/dark-bg.jpg) 50% 50% no-repeat;
	background-size:cover;

	.menu-line{
		width: 100%;
		justify-content: space-between;
		.tel-in-nav{
			display: block;
		}
	}
}

/* рисование меню */
.menu-line{
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: end;

	.tel-in-nav{
		display: none;

		.numbers{
			margin: 1rem;
		}
	}

 	.menu{
		background-color:$color-title-orange;
		position: relative;
			&:after{
				content:'';
				display:block;
				position:absolute;
				z-index: 10;
				top:0;
				left:98%;
				width:50rem;
				height: 4.5rem;
				background-color:$color-title-orange;
			}

			ul{
				display: flex;
				flex-direction: row;
				justify-content: end;
			
				li{
					padding:1rem 0;
					a{
						display:block;
						padding:0 2rem;
						border-right:1px solid #f4ac71;
						&:hover{
							text-decoration:underline;
						}
					}

					&:last-child a{
						border:none;
					}

					&:hover{
						background:url(../images/active-menu.png) 50% 0 no-repeat;
					}
				}
		}
    }
}

/* общие значения классво для заголовков и цвета*/
.title{
    position:relative;
    display:table;
    margin:auto;
    color:$text-color-in-dark-block;
    font-family:'RobotoBold';
    padding:0 2rem;
    text-align:center;
    text-transform:uppercase;
	& *{
		width: fit-content;
	}
}

.gray{
	background-color:$color-title-gray;
}

.orange{
	background-color:$color-title-orange;
}

/* головной блок */
header{
    height: 600px;
	background:url(../images/header.webp) 50% 50% no-repeat;
	background-size:cover;
	border-bottom:7px solid $color-title-orange;
}

.titles{
	padding-top:180px;
    
    .title:last-child{
		text-transform:none;
		font-family:'RobotoRegular';
    }
}

/* почему именно мы */
#whyneedus{
	.list{
		padding:2rem 0;
		display:flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}

	.item {
		width: 330px;
		text-align: center;
		padding: 0 0 2rem 0;
		p{
			padding: 0.5rem 0.5rem;
		}
	}

	.icon{
		margin-bottom:0.5rem;
		img{
			max-height:100%;
		}
	}

	.ttl{
		position:relative;
		font-family:'Roboto';
		padding-bottom:1rem;

		&:after{
			content:'';
			display:block;
			position:absolute;
			bottom:1rem;
			left: 25%;
			width:50%;
			height:1px;
			background-color:$color-title-orange;
		}
	}
}

.margin-left{
	left: 250px;
}

.margin-right{
	right: 250px;
}

#services{
	background:url(../images/light-bg.jpg) 50% 50% no-repeat;
	background-size:cover;
	.item{
		position:relative;
		margin-bottom:5rem;

		&:before{
			content:'';
			display:block;
			position:absolute;
			left:0;
			bottom:0;
			width:100%;
			height:1px;
			background-color:#dc6e15;
		}

		&:nth-child(2n){

			&:before{
				left:auto;
			}

			.title{
				left:auto;
			}

			.photo{
				float:right;
			}
		}

		&:after{
			content:'';
			display:block;
			clear:both;
		}
	}

	.title{
		position:absolute;
		top:0;
		text-transform:none;
	}

	.photo{
		float:left;
		border:1px solid #dc6e15;
		img{
			display:block;
		}
	}

	.desc{
		padding:7rem 2rem 1rem 2rem;
		overflow:hidden;
	}
}

#feature{
	display:flex;
	flex-wrap: wrap;
	justify-content: center;

	.list{
		padding:70px 0 20px;
		margin:auto;
	}

	.item{
		padding-left:100px;
		min-height:70px;
		margin-bottom:50px;
		background:url(../images/check.png) 0 0 no-repeat;

		.ttl{
			font-family:'Roboto';
			text-transform:uppercase;
		}
	}
}

#guarantee{
	background:url(../images/light-bg.jpg) 50% 30% no-repeat;
}

.guarant{
	display:flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	
	padding: 1rem 0 0;
	img{
		width: 46%;
		aspect-ratio: auto;
	}

 	.desc{
		width: 46%;
		div {
			font-family:'Roboto';
			text-transform:uppercase;
		}
	}
}

#reviews .container{
	position: relative; 

	.owl-carousel{
		margin: 2rem auto;
		width: 90%;

		.owl-dots{
			padding-top: 1rem;
		}

		.item{
			display:flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			vertical-align: middle;
			text-align: center;

			.client{
				width: 280px;
				height: 280px;
				border: 3px solid $color-title-orange;
				border-radius: 50%;
				margin:0 auto 15px;
				overflow: hidden;
				img{
					width: 100%;
					object-fit: cover; 
				}
			}

			.date{
				display: inline;
				float: right;
			}
		}
	}

	.customNav{
		display: flex;
		justify-content: space-between;
		position: absolute;
		width: 100%;
		height: 100%;
		img{
			width: 7rem;
			height: 7rem;
		}
 
		.owl-prev, .owl-next{
			position: absolute;
			top:28%;
			z-index: 5;
			cursor:pointer;
			opacity: 0.5;
			-moz-transition: opacity .3s ease;
			-webkit-transition: opacity .3s ease;
			-o-transition: opacity .3s ease;
			transition: opacity .3s ease;
		}

		.owl-prev:hover,
		.owl-next:hover{
			opacity: 0.8;
			-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
		}

		.owl-prev {
			left: 0px;
		}
		.owl-next {
			right: 0px;
			text-align: right;
		}
	}
}



footer{
	padding:30px 0;

	.info{
		margin:30px auto 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;

		.contacts, .locations{
			display: flex;
			flex-wrap: nowrap;
			flex-direction: column;

			& > *{
				margin-bottom: 2rem;
				white-space: nowrap;
			}
		}
	}

	.link{
		text-align: center;
		padding: 2rem 0 0;
		a:hover{
			-moz-transition: all 0.3s linear;
			-webkit-transition:all 0.3s linear;
			-o-transition: all 0.3s linear;
			transition:all 0.3s linear;
			color: #dc6e15;
		}
	}
}

.location{
	padding-left:3rem;
    margin-right:2.5rem;
	background:url(../images/location.svg) 0 50% no-repeat;
}

@media (max-width: 1200px) {
	.h1{
		font-size: 3.4rem;
		line-height: 6.8rem;
	}

	.h2{
		font-size: 2.7rem;
		line-height: 5.4rem;
	}

	.h3{
		font-size: 2.3rem;
		line-height: 4.6rem;
	}

	.margin-left{
	left: 254px;
	}

	.margin-right{
		right: 254px;
	}
}

@media (max-width: 991px) {
	.h3{
		line-height: 2.6rem;
		padding: 0.6rem 0;
	}
	.container{
		margin:0 2rem;
	}
	
	.fixed .container{
		justify-content: end;

		.tel-in-nav{
			display: none;
		}
	}

	.titles{
	padding-top:150px;
	}

	header{
		height: 500px;
	}
}

@media (max-width: 767px) {



	.h1{
		font-size: 2.5rem;
		line-height: 5rem;
	}

	.h2{
		font-size: 2rem;
		line-height: 4rem;
	}

	.h3{
		font-size: 2rem;
		line-height: 2.3rem;
		padding: 0.6rem 0;
	}
	
	.text{
		font-size: 1.5rem;
		line-height: 2.1rem;
	}

	#top .general{
		display: none;
	}

	.butmenu{
		height:4.5rem;
		width: 6.5rem;
		padding: 0 1rem;
		background-color: $color-title-orange;

		&:after{
			content:'';
			display:block;
			position:absolute;
			z-index: 10;
			top:0;
			left:98%;
			width:10rem;
			height: 4.5rem;
			background-color:$color-title-orange;
		}

		div{
			height:4.5rem;
			width: 4.5rem;
			background:url(../images/menu.png) 50% 50% no-repeat;
		}
	}

	.fixed .menu-line{
		justify-content: space-between;
		padding: 0 1rem;
		.tel-in-nav{
			display: block;
		}
	}

	nav{
		background: url(../images/dark-bg.jpg) 50% 50% no-repeat;
		background-size:cover;
	}

	.menu-line{
		position:relative;
		width:100%;
		background-color: transparent;
		display:flex;
		flex-wrap: wrap;
		justify-content: space-between;

		.tel-in-nav{
			display: block;
		}

		.menu{
			position:absolute;
			left:-15%;
			width:130%;

			&:after{
				display: none;
			}
			ul {
				display:none;
				position:absolute;
				top:4.5rem;
				left:0;
				width:100%;
				z-index:10;
				background-color: $color-title-orange;

				&.active{
					display:block;
				}
				
				li{
					width:100%;
					float:none;
					border-right:none;
					background-color: $color-title-orange;

					a{
						margin: auto;
						width: 60%;
						text-align:center;
						padding:0;
						border-right:0px;
						border-bottom:1px solid #f4ac71;
					}

					&:last-child a{
						border-right:0px;
						border-bottom:1px solid #f4ac71;
					}
				}
			}
		}
	}


	#whyneedus .item {
		width: 260px;
	}

	.margin-left{
	left: 258px;
	}

	.margin-right{
		right: 258px;
	}
}

@media (max-width: 640px) {
	#services .item{
		position:relative;
		margin-bottom:3rem;
		display:flex;
		flex-direction: column;
		
		&> * {
			float:none;
		}

		.title{
			position:relative;
			text-transform:none;
			margin-bottom: 2rem;
		}

		.photo{
			float: none;
			border:1px solid #dc6e15;
			margin: 0 auto 2rem;
			img{
				display:block;
			}
		}

		.desc{
			padding:0 2rem 1rem 2rem;
			overflow:hidden;
		}

		.margin-left{
			left: 0;
		}

		.margin-right{
			right: 0;
		}
	}

	#reviews .container .owl-carousel .item{
		.client{
			width: 60%;
			height: fit-content;
			aspect-ratio: 1 / 1;
		}
	}
}

@media (max-width: 580px) {


	.feature-br{
		display: none;
	}
	.br{
		display: block;
	}

	.h1{
		text-align: center;
		font-size: 2.2rem;
		line-height: 2.6rem;
		padding: 1rem 0;
	}

	.h2{
		text-align: center;
		font-size: 2rem;
		line-height: 2.3rem;
		padding: 0.8rem 0;
	}

	.h3{
		font-size: 1.8rem;
		line-height: 2rem;
		padding: 0.6rem 0;
	}
	
	.text{
		font-size: 1.5rem;
		line-height: 1.7rem;
	}

	footer{
		.container{
			text-align: center;
		}
		.info{
			margin:30px auto;
			display: inline-block;

			.contacts, .locations{
				display: block;
				text-align:start;
			}
		}
	}
}

@media (max-width: 420px) {

	.container{
		margin:0 1rem;
	}
	.guarant{
		flex-direction: column;
		vertical-align: middle;
		img{
			width: 80%;
			margin: auto;
		}

		.desc{
			width: 100%;
			text-align: center;
		}
	}

	.br-min{
		display: block;
	}

	.fixed .menu-line{
		padding: 0;
	}

	#reviews .container{
	.customNav{
			img{
				width: 5rem;
				height: 5rem;
			}
	
			.owl-prev, .owl-next{
				top:20%;
			}
		}
	}
}

@media (max-width: 320px) {

	.h1{
		font-size: 2rem;
		line-height: 2.2rem;
		padding: 0.8rem 0;
	}

	.h2{
		font-size: 1.8rem;
		line-height: 2rem;
		padding: 0.6rem 0;
	}

	.h3{
		font-size: 1.5rem;
		line-height: 1.7rem;
		padding: 0.4rem 0;
	}
	
	.text{
		font-size: 1.5rem;
		line-height: 1.7rem;
	}

	.fixed .menu-line{

		justify-content: end;
	 	.tel-in-nav{
			display: none;
		}
	}
}